<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        
        {% if forms %}
        {% for form in forms %}
        {{form.label_tag}} {{form}} {{form.errors|striptags}} <br> <br>
        {% endfor %}
        <input type="submit" value="Login" class="btn btn-primary" name="" id=""><br><br>
        {% if forms.non_field_errors %}
        {% for error in forms.non_field_errors %}
        <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            {{error}} 
        </div>
        {% endfor %}
        {% endif %}
        {% endif %}
    </form><br>
    {% if messages %}
    {% for message in messages %}
    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        {{message}}
    </div><br>
    {% endfor %}
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a><br><br>
    {%else%}
    <a href="{% url 'password_reset' %}" >Forget Password?</a><br><br>
    <a href="{% url 'singup' %}" class="btn btn-primary">SignUp</a><br><br>
    {% endif %}
    
</body>
</html>