<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container" align="center">
        <h1>Cart Item</h1>
        {% if request.COOKIES %}
        <table border="1">
            <thead>
                <th>COOKIES NAME</th>
                <th>COOKIES VALUE</th>
            </thead>
            {% for key, value in request.COOKIES.items %}
            {% if key != 'csrftoken' %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        {% else %}
        <h1>No COOKIES Found</h1>
        {% endif %}
    </div>
</body>
</html>