body{
    background: url(https://images.unsplash.com/photo-1548346941-0f485f3ec808?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: red;
    text-align: center;
    font-size: 100px;
}
.navbar {
    background: yellow;
}
.navbar a{

}