<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/demo.css'%}">
    <title>Document</title>
</head>
<body>
    {% if emp_list %}
    <table border="1" style="margin: auto; font-size: large;">
        <h1>Employee Data</h1><hr>
        <thead>
            <th>E No.</th>
            <th>Name</th>
            <th>Employee Salary</th>
            <th>Address</th>
        </thead>
        {% for e in emp_list %}
        <tr>
            <td>{{e.eno}}</td>
            <td>{{e.ename}}</td>
            <td>{{e.esal}}</td>
            <td>{{e.eaddr}}</td>
        </tr>
        {% endfor%}
    </table>
    {% else %}
    <h1>No Record Found!!!</h1>
    {% endif %}
</body>
</html>